<h1>Office Employee Details</h1>

<div [formGroup]="user">
    <div>
      <label for="">employee Name:</label>
       <input type="text" pInputText formControlName="name">
       <div *ngIf="login['name'].invalid && (login['name'].dirty||login['name'].touched)">
          <div class="nameInput" *ngIf="login['name'].errors?.required">
              name is required
  
          </div>
      </div>
        </div>
  
  
  
  
       
    <div>
      <label for="">employee email:</label>
       <input type="text" pInputText formControlName="email">
       <div *ngIf="login['email'].invalid && (login['email'].dirty||login['email'].touched)">
          <div class="nameInput" *ngIf="login['email'].errors?.required">
              email is required
          </div>
      </div>
        </div>
   
  
  
   
      
    <div>
      <label for="">employee mobile:</label>
       <input type="text" pInputText formControlName="mobile">
       <div *ngIf="login['mobile'].invalid && (login['mobile'].dirty||login['mobile'].touched)">
          <div class="nameInput" *ngIf="login['mobile'].errors?.required">
              mobile is required
          </div>
      </div>
       </div>

       <div>
        <label for="">employee Address:</label>
         <input type="text" pInputText formControlName="address">
         <div *ngIf="login['address'].invalid && (login['address'].dirty||login['address'].touched)">
            <div class="nameInput" *ngIf="login['address'].errors?.required">
                mobile is required
            </div>
        </div>
         </div>




  
       
  <!-- <p-button label="Click" ></p-button> -->
  <button p-button (click)="submit()" type="button"label="Click">submit</button>
      </div>