<!-- <p>register works!</p>
 <div class="hearder"> -->
    <!-- <div [formGroup]="user">
  <div>
    <label for="fname">User name</label>
     <input type="text" pInputText formControlName="name">
     
     
    </div>

    </div>
  

  <div class="email">
    <label for="fname">email</label>
    <div class="box2">
      <input type="text" pInputText placeholder="Enter your name" />
    </div>
  </div>

  <div class="password">
    <label for="fname">password</label>
    <div>
      <input type="text" pInputText placeholder="Enter your password" />
    </div>
  </div>

  <div class="message">
    <label for="fname">message</label>
    <div>
      <input type="text" pInputText placeholder="Enter your message" />
    </div>
  </div>

  <div class="button">
    <button pButton type="button" label="submit"></button>
  </div>
</div> --> -->
